.priceSection {
    display: flex;
}
.priceSection {
    display: flex;
    flex-direction: row;
}

.priceWrapper {
    background-color: white;
    padding: 1em;
}

.pricelist {
    max-width: fit-content;
    text-align: left;
    line-height: 2em;
}

.free{
    display: flex;
    flex-direction: column;
    background-color: #FCC24C;
    padding: 2em;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    text-align: center;
    margin: auto;
}