.contactSection {
    background-color: #FCC24C;
    width: 100%;
    padding: 2em;
}

.contactContainer {
    display: flex;
    align-items: center;
    justify-content: center;
 
    gap: 3em;
}
.form{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 1em;
    gap: 1em;
    margin: auto;
  
}

.contactDiv {

}
input {
    padding: .5em;
}

textarea{
    padding: .5em;
}

button {
    padding: .5em;
}

