.header{
    width: 100%;
    background-color: white;
   
}

nav {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navlist {
    list-style: none;
    display: flex;
    width: 80%;
    gap: 2em;
    justify-content: end;
    
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    animation-duration: 0.7s;
    animation-name: fadeInDown;
    animation-timing-function: ease-out;
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
