.trainingWrapper {
    background-color: rgba(252, 252, 252, 0.479);
    width: 100%;
}

.trainingContainer{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.trainingCard {
    
    
    padding: 2em;
}

.locationContainer {
    display: flex;
    justify-content: center;
    gap: 10em;
}

.locationDiv{
    text-align: left;
}