body {
  font-family: "Red Hat Text", sans-serif;
  font-style: normal;
  background: rgb(255,255,255);
  background: linear-gradient(152deg, rgba(255,255,255,1) 0%, rgba(255,190,228,1) 97%, rgba(255,120,199,1) 100%);
  margin: 0;
  padding: 0;
}

.content {
  width: 60%;
  margin: auto;
  margin-top: 3em;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5em;
}

.underlined {
  text-decoration: underline;
}

.cursive {
  font-style: italic;
}

.images {
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.images img {
  height: 300px;
}