body {
  font-family: "Red Hat Text", sans-serif;
  font-style: normal;
  background-color: var(--rose-50);
  margin: 0;
  padding: 0;
}

.content {
  width: 60%;
  margin: auto;
  margin-top: 3em;
  align-items: center;
  text-align: center;
}

.underlined {
  text-decoration: underline;
}

.cursive {
  font-style: italic;
}