body {
  font-family: "Red Hat Text", sans-serif;
  font-style: normal;
  background-color: var(--rose-50);
  margin: 0;
  padding: 0;
}

.content {
  width: 60%;
  margin: auto;
  margin-top: 3em;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5em;
}

.underlined {
  text-decoration: underline;
}

.cursive {
  font-style: italic;
}

.images {
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.images img {
  height: 200px;
}